.row.sub-nav
  .col-md-10
    %h3 Talents
  .col-md-2
    .pull-right
      %br
      - if @current_character
        = render partial: "shared/shopping_with", locals: { message: @current_character.building_points.to_s + " Building Points" }
      - else
        = render partial: "shared/shopping_with"
.row
  .col-md-12
    %table.table.table-hover.table-responsive.purchase
      %thead
        %tr
          %th Name
          %th BP Cost
          %th Description
          %th
          %th
          - if current_user.admin_level >= 1
            %th
            %th
      %tbody
        - @talents.order(:name).each do |talent|
          %tr{ "data-show" => "talent_"+talent.id.to_s, class: "show-on-hover" }
            %td= talent.name
            %td= talent.bp_cost
            %td= talent.description
            - if talent.item_specific
              - if @current_character
                = form_tag add_talent_character_path(@current_character) do
                  %input{ type: "hidden", name: "talent_id", value: talent.id }
                  %td.actions
                    .action
                      = select :item, :id, talent.item_options.order(:name).collect { |i| [i.name, i.id] }, {}, { :class => "form-control talent_#{talent.id.to_s}" }
                  %td.actions
                    .action
                      %button{type: 'submit', class: "btn btn-primary talent_#{talent.id.to_s}", name: "character_id", value: @current_character.id}
                        %span.glyphicon.glyphicon-plus
                        = @current_character.name
            - else
              - if @current_character
                - if @current_character.has_talent(talent)
                  %td
                  %td
                    %span.btn.btn-success.pull-right
                      &#10004;
                - else
                  %td
                  %td.actions
                    = link_to raw("<span class='glyphicon glyphicon-plus'></span> " + @current_character.name), add_talent_character_path(@current_character, talent_id: talent.id), class: "btn btn-primary talent_#{talent.id.to_s} action"
            - if current_user.admin_level >= 1
              %td= link_to raw('<span class="octicon octicon-pencil"></span>'), edit_talent_path(talent)
              %td= link_to raw('<span class="octicon octicon-trashcan"></span>'), talent, :method => :delete, :data => { :confirm => 'Are you sure?' }
          - if @current_character
            - @current_character.characters_talents.where(talent_id: talent.id).where.not(item_id: nil).each do |char_talent|
              %tr
                %td
                %td
                %td
                  %span{ style: "color: green" }
                    &#10004;
                  = char_talent.item.name
                %td
                %td
                - if current_user.admin_level >= 1
                  %td
                  %td
    = link_to 'New Talent', new_talent_path, class: "btn btn-primary" if current_user.admin_level >= 1
