.row
  .col-md-6
    %h3 Talents
  .col-md-6
    %br
    = link_to 'New Talent', new_talent_path, class: "btn btn-primary pull-right" if current_user.admin_level >= 1
%table.table.table-hover.table-responsive
  %thead
    %tr
      %th Name
      %th
      %th BP Cost
      %th Description
      - if current_user.admin_level >= 1
        %th
        %th
  %tbody
    - @talents.each do |talent|
      %tr
        %td= link_to talent.name, talent
        %td
          .dropdown
            %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              Learn
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
              - current_user.characters.each do |character|
                - if not talent.item_specific
                  %li= link_to character.name, add_talent_character_path(character, talent_id: talent.id)
                - else
                  %li= link_to character.name, talent_path(talent, character_id: character.id)
        %td= talent.bp_cost
        %td= talent.description
        - if current_user.admin_level >= 1
          %td= link_to raw('<span class="octicon octicon-pencil"></span>'), edit_talent_path(talent)
          %td= link_to raw('<span class="octicon octicon-trashcan"></span>'), talent, :method => :delete, :data => { :confirm => 'Are you sure?' }
