.row.sub-nav
  %br
  .col-md-10
    .btn-group
      = link_to 'Back', talents_path, class: "btn btn-default"
      = link_to 'Edit', edit_talent_path(@talent), class: "btn btn-primary"
  .col-md-2
    .pull-right
      - if @current_character
        = render partial: "shared/shopping_with", locals: { message: @current_character.building_points.to_s + " Building Points" }
      - else
        = render partial: "shared/shopping_with"
%h3= @talent.name
%br
- if @current_character
  - if @talent.item_specific
    - if @current_character
      = form_tag add_talent_character_path(@current_character) do
        .row
          .col-md-2
            = select :item, :id, @talent.item_options.order(:name).collect { |i| [i.name, i.id] }, {}, { :class => "form-control talent_#{@talent.id.to_s}" }
          .col-md-2
            %button{type: 'submit', class: "btn btn-primary", name: "character_id", value: @current_character.id}
              %span.glyphicon.glyphicon-plus
              = @current_character.name
    - @current_character.characters_talents.where(talent_id: @talent.id).where.not(item_id: nil).each do |char_talent|
      .row
        .col-md-2
          %br
          .btn.btn-success
            &#10004;
            = char_talent.item.name
  - else
    .row
      .col-md-3
        - if @current_character
          - if @current_character.has_talent(@talent)
            %span.btn.btn-success
              &#10004;
              You Have
              = @talent.name
          - else
            = link_to raw("<span class='glyphicon glyphicon-plus'></span> " + @current_character.name), add_talent_character_path(@current_character, talent_id: @talent.id), class: "btn btn-primary talent_#{@talent.id.to_s} action"
%br
%br
.row
  .col-md-12
    %table.table.table-hover.table-responsive
      %tbody
        %tr
          %td Description
          %td= @talent.description
        %tr
          %td Requirements
          %td= @talent.requirements
        %tr
          %td BP Cost
          %td= @talent.bp_cost
        %tr
          %td Item Specific?
          %td= @talent.item_specific
