<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<div class="row">
  	  <div class="col-md-4">
        <%= f.input :email, required: true, autofocus: true, input_html: { class: "string form-control" } %>
	    </div>
	  </div>
  	<div class="row">
  	  <div class="col-md-4">
        <%= f.input :password, required: true, input_html: { class: "string form-control" } %>
      </div>
	  </div>
  	<div class="row">
  	  <div class="col-md-4">
        <%= f.input :password_confirmation, required: true, input_html: { class: "string form-control" } %>
      </div>
	  </div>
  	<div class="row">
  	  <div class="col-md-4">
        <%= f.input :creation_key, required: true, input_html: { class: "string form-control" } %>
      </div>
	  </div>
	</div>
  <br />

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
  </div>
  <br />
<% end %>

<%= render "devise/shared/links" %>
