= simple_form_for @race do |f|
  - if @race.errors.any?
    #error_explanation
      %h2= "#{pluralize(@race.errors.count, "error")} prohibited this race from being saved:"
      %ul
        - @race.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-4= f.input :name, input_html: { class: "string form-control" }
    .col-md-4= f.input :description, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :str_mod, input_html: { class: "string form-control" }
    .col-md-4= f.input :int_mod, input_html: { class: "string form-control" }
    .col-md-4= f.input :wis_mod, input_html: { class: "string form-control" }
    .col-md-4= f.input :dex_mod, input_html: { class: "string form-control" }
    .col-md-4= f.input :con_mod, input_html: { class: "string form-control" }
    .col-md-4= f.input :lks_mod, input_html: { class: "string form-control" }
    .col-md-4= f.input :cha_mod, input_html: { class: "string form-control" }

  .row
    .col-md-4= f.input :hp_size_adjustment, input_html: { class: "string form-control" }
    .col-md-4= f.input :defense_adjustment_vs_large, input_html: { class: "string form-control" }
    .col-md-4= f.input :defense_adjustment, input_html: { class: "string form-control" }
    .col-md-4= f.input :hide_in_natural, input_html: { class: "string form-control" }
    .col-md-4= f.input :base_movement, input_html: { class: "string form-control" }
    .col-md-4= f.input :reach_adjustment, input_html: { class: "string form-control" }
    .col-md-4= f.input :size, collection: size_types, input_html: { class: "string form-control" }
    .col-md-4= f.input :knock_back_size, collection: size_types, input_html: { class: "string form-control" }

    .col-md-4= f.input :low_light_vision, input_html: { class: "string form-control" }
    .col-md-4= f.input :init_die_bonus, input_html: { class: "string form-control" }
    .col-md-4= f.input :male_height, input_html: { class: "string form-control" }
    .col-md-4= f.input :female_height, input_html: { class: "string form-control" }
    .col-md-4= f.input :male_weight, input_html: { class: "string form-control" }
    .col-md-4= f.input :female_weight, input_html: { class: "string form-control" }
    .col-md-4= f.input :lifespan, input_html: { class: "string form-control" }

  .row
    .col-md-4
      %br
      .actions
        .btn-group
          = f.submit 'Save', class: "btn btn-primary"
