.row
  .col-md-6
    %h3 Races
  .col-md-6
    %br
    = link_to 'New Race', new_race_path, class: "btn btn-primary pull-right" if current_user.admin_level >= 1
%table.table.table-hover.table-responsive
  %thead
    %tr
      %th Name
      %th Str mod
      %th Int mod
      %th Wis mod
      %th Dex mod
      %th Con mod
      %th Lks mod
      %th Cha mod
      %th Starting Talents
      %th Starting Proficiencies
      - if current_user.admin_level >= 1
        %th
        %th
  %tbody
    - @races.each do |race|
      %tr
        %td= link_to race.name, race
        %td= race.str_mod
        %td= race.int_mod
        %td= race.wis_mod
        %td= race.dex_mod
        %td= race.con_mod
        %td= race.lks_mod
        %td= race.cha_mod
        %td
          - race.talents.each do |talent|
            = link_to talent.name, talent
        %td
          - race.proficiencies.each do |proficiency|
            = link_to proficiency.name, proficiency
        - if current_user.admin_level >= 1
          %td= link_to raw('<span class="octicon octicon-pencil"></span>'), edit_race_path(race)
          %td= link_to raw('<span class="octicon octicon-trashcan"></span>'), race, :method => :delete, :data => { :confirm => 'Are you sure?' }
