.btn-group
  = link_to 'Back', races_path, class: "btn btn-default"
  = link_to 'Edit', edit_race_path(@race), class: "btn btn-primary"
%br
%h3= @race.name
%br
%table.table.table-hover.table-responsive
  %tbody
    %tr
      %td Description
      %td= @race.description
    %tr
      %td  Strength Modifier
      %td= @race.str_mod
    %tr
      %td  Intelligence Modifier
      %td= @race.int_mod
    %tr
      %td  Wisdom Modifier
      %td= @race.wis_mod
    %tr
      %td  Dexterity Modifier
      %td= @race.dex_mod
    %tr
      %td  Constitution Modifier
      %td= @race.con_mod
    %tr
      %td  Looks Modifier
      %td= @race.lks_mod
    %tr
      %td  Charisma Modifier
      %td= @race.cha_mod
    %tr
      %td  HP Size Adjust
      %td= @race.hp_size_adjustment
    %tr
      %td  Defense Adjust Vs Large
      %td= @race.defense_adjustment_vs_large
    %tr
      %td  Defense Adjust
      %td= @race.defense_adjustment
    %tr
      %td  Hide In Natural Surroundings
      %td= @race.hide_in_natural
    %tr
      %td Base Movement 
      %td= @race.base_movement
    %tr
      %td Reach Adjust
      %td= @race.reach_adjustment
    %tr
      %td Race Size
      %td= @race.size
    %tr
      %td Knock Back Size
      %td= @race.knock_back_size
    %tr
      %td Low Light Vision
      %td= @race.low_light_vision
    %tr
      %td  Initiative Die Bonus
      %td= @race.init_die_bonus
    %tr
      %td Male Height
      %td= @race.male_height
    %tr
      %td Female Height
      %td= @race.female_height
    %tr
      %td Male Weight
      %td= @race.male_weight
    %tr
      %td Female Weight
      %td= @race.female_weight
    %tr
      %td Lifespan
      %td= @race.lifespan
