= simple_form_for @skill do |f|
  - if @skill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@skill.errors.count, "error")} prohibited this skill from being saved:"
      %ul
        - @skill.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-4= f.input :name, input_html: { class: "string form-control" }
    .col-md-4= f.input :description, input_html: { class: "string form-control" }
    .col-md-4= f.input :bp_cost, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :main_attr, collection: attributes, input_html: { class: "string form-control" }
    .col-md-4= f.input :other_attr, collection: attributes, input_html: { class: "string form-control" }
  .row
    .col-md-4
      %br
        .actions
          .btn-group
            = f.submit 'Save', class: "btn btn-primary"
