.row
  .col-md-10
    %h3 Skills
  .col-md-2
    .pull-right
      %br
      = render partial: "shared/shopping_with", locals: { message: @current_character.building_points.to_s + " Building Points" }
.row
  .col-md-12
    %table.table.table-hover.table-responsive.purchase
      %thead
        %tr
          %th Name
          %th Cost
          %th Description
          - if @current_character
            %th
          - if current_user.admin_level >= 1
            %th
            %th
      %tbody
        - @skills.order(:name).each do |skill|
          %tr{ "data-show" => "skill_"+skill.id.to_s, class: "show-on-hover" }
            %td{ style: 'width: 300px' }= link_to skill.name, skill
            %td= skill.bp_cost
            %td= skill.description
            %td{ style: 'width: 300px' }
              - if @current_character
                = form_tag add_skill_character_path(@current_character) do
                  %input{ type: "hidden", name: "skill_id", value: skill.id }
                  .input-group{ class: "skill_"+skill.id.to_s }
                    %span.input-group-addon
                      Learn Skill:
                    = number_field_tag :value, nil, class: "integer form-control limit-width", placeholder: "Die Roll"
                    %span.input-group-btn
                      %button{type: 'submit', class: "btn btn-primary", name: "character_id", value: @current_character.id}
                        %span.glyphicon.glyphicon-plus
                        = @current_character.name
            - if current_user.admin_level >= 1
              %td= link_to raw('<span class="octicon octicon-pencil"></span>'), edit_skill_path(skill)
              %td= link_to raw('<span class="octicon octicon-trashcan"></span>'), skill, :method => :delete, :data => { :confirm => 'Are you sure?' }
= link_to 'New Skill', new_skill_path, class: "btn btn-primary" if current_user.admin_level >= 1
