.row
  .col-md-6
    %h3 Skills
  .col-md-6
    %br
    = link_to 'New Skill', new_skill_path, class: "btn btn-primary pull-right" if current_user.admin_level >= 1
.row
  .col-md-12
    .accordion{ "id"=>"accordion_skills"}
      %table.table.table-hover.table-responsive
        %thead
          %tr
            %th Name
            %th Cost
            %th Universal
            - if current_user.admin_level >= 1
              %th
              %th
        %tbody
          - @skills.each do |skill|
            %tr{ "id"=>"collapse_skills_"+skill.id.to_s+"_travel" }
              %td
                .accordion-group
                  .accordion-heading
                    %a.accordion-toggle{ "data-toggle"=>"collapse", "data-parent"=>"#accordion_skills", "href"=>"#collapse_skills_"+skill.id.to_s }
                      = skill.name
                  .accordion-body.collapse{ "id"=>"collapse_skills_"+skill.id.to_s }
                    .accordion-inner
                      = form_tag add_skill_character_path(1) do
                        %input{ type: "hidden", name: "skill_id", value: skill.id }
                        %br
                        .row
                          .col-md-1
                            Learn Skill:
                          .col-md-2
                            = number_field_tag :value, nil, class: "integer form-control", placeholder: "Die Roll"
                          .col-md-9
                            .btn-group
                              - current_user.characters.each do |character|
                                %button{type: 'submit', class: "btn btn-primary", name: "character_id", value: character.id}
                                  %span.glyphicon.glyphicon-plus
                                  = character.name
                              = link_to "View " + skill.name + " Details", skill, class: "btn btn-default"
              %td= skill.bp_cost
              %td= skill.universal
              - if current_user.admin_level >= 1
                %td= link_to raw('<span class="octicon octicon-pencil"></span>'), edit_skill_path(skill)
                %td= link_to raw('<span class="octicon octicon-trashcan"></span>'), skill, :method => :delete, :data => { :confirm => 'Are you sure?' }
