.row
  .col-md-10
    .btn-group
      = link_to 'Back', skills_path, class: "btn btn-default"
      = link_to 'Edit', edit_skill_path(@skill), class: "btn btn-primary"
  .col-md-2
    .pull-right
      = render partial: "shared/shopping_with", locals: { message: @current_character.building_points.to_s + " Building Points" }
%h3= @skill.name
%br
- if @current_character
  = form_tag add_skill_character_path do
    %input{ type: "hidden", name: "skill_id", value: @skill.id }
    .col-md-3
      .input-group
        = number_field_tag :value, nil, class: "integer form-control", placeholder: "Die Roll"
        %span.input-group-btn
          %button{type: 'submit', class: "btn btn-primary", name: "character_id", value: @current_character.id}
            %span.glyphicon.glyphicon-plus
            = @current_character.name
  %br
  %br
%table.table.table-hover.table-responsive
  %tbody
    %tr
      %td Description
      %td= @skill.description
    %tr
      %td BP Cost
      %td= @skill.bp_cost
    %tr
      %td Main Attribute
      %td= @skill.main_attr
    %tr
      %td Other Attribute
      %td= @skill.other_attr
    %tr
      %td Third Attribute
      %td= @skill.third_attr
    %tr
      %td Universal
      %td= @skill.universal
    %tr
      %td Prerequisite
      %td= @skill.prerequisite
    %tr
      %td Materials
      %td= @skill.materials
    %tr
      %td Unskilled 
      %td= @skill.unskilled
    %tr
      %td Novice
      %td= @skill.novice
    %tr
      %td Average
      %td= @skill.average
    %tr
      %td Advanced
      %td= @skill.advanced
    %tr
      %td Expert
      %td= @skill.expert
    %tr
      %td Master
      %td= @skill.master
