%h4 Full Combat Calculations
.row
  .col-md-2
    Left Hand:
    - if rose["left_hand"].nil?
      Empty 
    - else
      = rose["left_hand"].actual_name
  .col-md-2
    Right Hand:
    - if rose["right_hand"].nil?
      Empty 
    - else
      = rose["right_hand"].actual_name
  .col-md-2
    Body:
    - if rose["body"].nil?
      Empty 
    - else
      = rose["body"].actual_name
.row
  .col-md-12
    %table.table.table-bordered.table-hover
      - rose.each do |attribute, modifiers|
        - if attribute != "left_hand" and attribute != "right_hand" and attribute != "body" and attribute != "worn_items"
          %tr
            %td
              = attribute.titleize + ": " + modifiers["val"].to_s
            - modifiers.each do |name, val|
              - if name != "val"
                %td
                  - if val < 0
                    = "- " + val.abs.to_s + " from " + name.titleize
                  - else
                    = "+ " + val.to_s + " from " + name.titleize




