.container.combat-rose
  .row
    .col-md-4.text-center
      Speed:
      = rose["speed"]
    .col-md-4.text-center
      Attack:
      = rose["attack"]
    .col-md-4.text-center
      Initiative:
      = rose["init"]
  %br
  .row
    .col-md-4.text-center
      Defense:
      = rose["defense"]
    .col-md-4.text-center
      Shield Reduction:
      = rose["shield_reduction"]
    .col-md-4.text-center
      Damage Reduction:
      = rose["damage_reduction"]
  %br
  .row
    .col-md-4.text-center
      Reach:
      = rose["reach"]
    .col-md-4.text-center
      Damage:
      = rose["damage_mod"]
    .col-md-4.text-center
      TOP Save:
      = rose["top_save"]
  %hr
  .row
    .col-md-4.text-center
      Left Hand:
      - if rose["left_hand"].nil?
        Empty 
      - else
        = rose["left_hand"].name
    .col-md-4.text-center
      Right Hand:
      - if rose["right_hand"].nil?
        Empty 
      - else
        = rose["right_hand"].name
    .col-md-4.text-center
      Body:
      - if rose["body"].nil?
        Empty 
      - else
        = rose["body"].name
