- rose = item_set.combat_rose
.tile.rose-tile{ data: { tile: { group: "combat-rose-tile" } } }
  .rose
    .inner-box
    .slant1
    .slant2
    .slant3
    .slant4
    .small-box
    - rose_stats.each do |attr, title|
      - attr_class = attr.sub("_", "-")
      .rose-label.show-on-hover{ class: attr_class+"-label", data: { show: attr_class+"-details-"+item_set.id.to_s, :"show-style" => "slide" } }
        = title
      %div{ class: attr_class+"-val" }
        - if rose[attr] and rose[attr]["val"]
          - if rose[attr]["val"] < 0
            = "- " + rose[attr]["val"].abs.to_s
          - else
            = rose[attr]["val"].to_s
  %br
  .stance-specifics
    .block.item.show-on-click{ data: { :"show-style" => "slide", :"show-group" => "item-equip", show: "main-item-list-"+item_set.id.to_s } }
      - if not  rose[item_set.character.main_hand+"_hand"].nil?
        = rose[item_set.character.main_hand+"_hand"].actual_name
      - else
        Equip Main Hand
    .block.item.show-on-click{ data: { :"show-style" => "slide", :"show-group" => "item-equip", show: "off-item-list-"+item_set.id.to_s } }
      - if not  rose[item_set.character.off_hand+"_hand"].nil?
        = rose[item_set.character.off_hand+"_hand"].actual_name
      - else
        Equip Off Hand
    .block.item.show-on-click{ data: { :"show-style" => "slide", :"show-group" => "item-equip", show: "body-item-list-"+item_set.id.to_s } }
      - if not  rose["body"].nil?
        = rose["body"].actual_name
      - else
        Equip Body
    .block.item
      Weapon and Shield Fighting
  %br{ style: "clear: both" }
  %hr
  - item_set.item_instances.each do |item_instance|
    .item
      = item_instance.actual_name
      .pull-right
        = simple_form_for item_set, url: remove_worn_item_item_set_path(item_set), method: :post do |f|
          = f.input :item_instance_id, as: :hidden, input_html: { value: item_instance.id }
          = f.submit raw("&#10005;"), class: "update-item-set remove-worn-item octicon"
    %br
  .item.add-item.show-on-click{ data: { :"show-style" => "slide", :"show-group" => "item-equip", show: "worn-item-list-"+item_set.id.to_s } }
    %span.octicon.octicon-plus
    Equip Worn Item
  %hr
  - rose.each do |attribute, modifiers|
    - if not ["speed", "init", "reach", "top_save", "attack", "defense", "damage_mod", "damage_reduction", "shield_reduction", "left_hand", "right_hand", "body", "worn_items"].include? attribute
      = attribute.titleize + ": " + modifiers["val"].to_s
      %br
  %div.buttons{ class: "rose-buttons-"+item_set.id.to_s }
    .tile-button.pull-left= link_to raw('<span class="octicon octicon-trashcan"></span>'), item_set, :method => :delete, :data => { :confirm => 'Are you sure?' }
    .tile-button.glyphicon.glyphicon-fullscreen.expander
  %br
- rose_stats.each do |attr, title|
  .details{ class: attr.sub("_", "-")+"-details " + attr.sub("_", "-")+"-details-"+item_set.id.to_s }
    %h6= attr.titleize + " Modifiers:"
    %hr
    - rose[attr].keys.each_with_index do |mod, index|
      - if mod != "val"
        - if rose[attr][mod] < 0
          = "- " + rose[attr][mod].abs.to_s + " from " + mod.titleize
        - else
          = "+ " + rose[attr][mod].to_s + " from " + mod.titleize
        - if index < rose[attr].size - 2
          %hr
.item-list.item-equip{ class: "main-item-list-"+item_set.id.to_s }
  - item_list = item_set.unequiped_item_instance_location_names(item_set.main_hand_item, 'arm')
  .pull-right.equip-modal-close
    .octicon.octicon-x.hide-on-click
  %h6 Main Hand:
  - if item_list.size > 0 or item_set.main_hand_item
    %hr
  - if item_set.main_hand_item
    .item-choice
      = simple_form_for item_set, method: :put do |f|
        = f.input :id, as: :hidden, input_html: { value: item_set.id }
        = f.input :character_id, as: :hidden, input_html: { value: item_set.character_id }
        = f.input :"#{item_set.character.main_hand}_item_id", as: :hidden, input_html: { value: "" }
        = f.submit "Unequip " + item_set.main_hand_item.actual_name, class: "update-item-set"
      - if item_list.size > 0
        %hr
  - item_list.each_with_index do |item_instance, index|
    .item-choice
      = simple_form_for item_set, method: :put do |f|
        = f.input :id, as: :hidden, input_html: { value: item_set.id }
        = f.input :character_id, as: :hidden, input_html: { value: item_set.character_id }
        = f.input :"#{item_set.character.main_hand}_item_id", as: :hidden, input_html: { value: item_instance[1] }
        = f.submit "Equip " + item_instance[0], class: "update-item-set"
      - if index < item_list.size - 1
        %hr
.item-list.item-equip{ class: "off-item-list-"+item_set.id.to_s }
  - item_list = item_set.unequiped_item_instance_location_names(item_set.off_hand_item, 'arm')
  .pull-right.equip-modal-close
    .octicon.octicon-x.hide-on-click
  %h6 Off Hand:
  - if item_list.size > 0 or item_set.off_hand_item
    %hr
  - if item_set.off_hand_item
    .item-choice
      = simple_form_for item_set, method: :put do |f|
        = f.input :id, as: :hidden, input_html: { value: item_set.id }
        = f.input :character_id, as: :hidden, input_html: { value: item_set.character_id }
        = f.input :"#{item_set.character.off_hand}_item_id", as: :hidden, input_html: { value: "" }
        = f.submit "Unequip " + item_set.off_hand_item.actual_name, class: "update-item-set"
      - if item_list.size > 0
        %hr
  - item_list.each_with_index do |item_instance, index|
    .item-choice
      = simple_form_for item_set, method: :put do |f|
        = f.input :id, as: :hidden, input_html: { value: item_set.id }
        = f.input :character_id, as: :hidden, input_html: { value: item_set.character_id }
        = f.input :"#{item_set.character.off_hand}_item_id", as: :hidden, input_html: { value: item_instance[1] }
        = f.submit "Equip " + item_instance[0], class: "update-item-set"
      - if index < item_list.size - 1
        %hr
.item-list.item-equip{ class: "body-item-list-"+item_set.id.to_s }
  - item_list = item_set.unequiped_item_instance_location_names(item_set.body_item, 'body')
  .pull-right.equip-modal-close
    .octicon.octicon-x.hide-on-click
  %h6 Body:
  - if item_list.size > 0 or item_set.body_item
    %hr
  - if item_set.body_item
    .item-choice
      = simple_form_for item_set, method: :put do |f|
        = f.input :id, as: :hidden, input_html: { value: item_set.id }
        = f.input :character_id, as: :hidden, input_html: { value: item_set.character_id }
        = f.input :body_item_id, as: :hidden, input_html: { value: "" }
        = f.submit "Unequip " + item_set.body_item.actual_name, class: "update-item-set"
      - if item_list.size > 0
        %hr
  - item_list.each_with_index do |item_instance, index|
    .item-choice
      = simple_form_for item_set, method: :put do |f|
        = f.input :id, as: :hidden, input_html: { value: item_set.id }
        = f.input :character_id, as: :hidden, input_html: { value: item_set.character_id }
        = f.input :body_item_id, as: :hidden, input_html: { value: item_instance[1] }
        = f.submit "Equip " + item_instance[0], class: "update-item-set"
      - if index < item_list.size - 1
        %hr
.item-list.item-equip{ class: "worn-item-list-"+item_set.id.to_s }
  - item_list = item_set.unequiped_worn_items
  .pull-right.equip-modal-close
    .octicon.octicon-x.hide-on-click
  %h6 Items to Equip:
  - if item_list.size > 0 or item_set.body_item
    %hr
  - item_list.each_with_index do |item_instance, index|
    .item-choice
      = simple_form_for item_set, url: add_worn_item_item_set_path(item_set), method: :post do |f|
        = f.input :item_instance_id, as: :hidden, input_html: { value: item_instance.id }
        = f.submit "Equip " + item_instance.actual_name, class: "update-item-set"
      - if index < item_list.size - 1
        %hr
