.tile.rose-tile.show-on-hover{ data: { :"show-style" => "slide", show: "rose-buttons", tile: { group: "combat-rose-tile" } } }
  .rose
    .inner-box
    .slant1
    .slant2
    .slant3
    .slant4
    .small-box
    - rose_stats.each do |attr, title|
      - attr_class = attr.sub("_", "-")
      .show-on-hover{ class: attr_class+"-label", data: { show: attr_class+"-details", :"show-style" => "slide" } }
        = title
      %div{ class: attr_class+"-val" }
        - if rose[attr] and rose[attr]["val"]
          - if rose[attr]["val"] < 0
            = "- " + rose[attr]["val"].abs.to_s
          - else
            = rose[attr]["val"].to_s
  %br
  .stance-specifics
    .block
      - if not  rose[@character.main_hand+"_hand"].nil?
        = rose[@character.main_hand+"_hand"].actual_name
    .block
      - if not  rose[@character.off_hand+"_hand"].nil?
        = rose[@character.off_hand+"_hand"].actual_name
    .block
      - if not  rose["body"].nil?
        = rose["body"].actual_name
    .block
      Weapon and Shield Fighting
  %br
  %div Other Equiped Items:
  %div Ring of Jumping (placeholder)
  %div Boots of Speed (placeholder)
  %hr
  - rose.each do |attribute, modifiers|
    - if not ["speed", "init", "reach", "top_save", "attack", "defense", "damage_mod", "damage_reduction", "shield_reduction", "left_hand", "right_hand", "body"].include? attribute
      = attribute.titleize + ": " + modifiers["val"].to_s
      %br
  %div.buttons{ class: "rose-buttons" }
    .tile-button.glyphicon.glyphicon-fullscreen.expander
- rose_stats.each do |attr, title|
  .details{ class: attr.sub("_", "-")+"-details" }
    %h6= attr.titleize + " Modifiers:"
    %hr
    - rose[attr].keys.each_with_index do |mod, index|
      - if mod != "val"
        - if rose[attr][mod] < 0
          = "- " + rose[attr][mod].abs.to_s + " from " + mod.titleize
        - else
          = "+ " + rose[attr][mod].to_s + " from " + mod.titleize
        - if index < rose[attr].size - 2
          %hr
