.combat-rose
  .row
    .col-md-4.text-center
      Speed:
      = rose["speed"]["val"]
    .col-md-4.text-center
      Attack:
      = rose["attack"]["val"]
    .col-md-4.text-center
      Initiative:
      = rose["init"]["val"]
  %br
  .row
    .col-md-4.text-center
      Defense:
      = rose["defense"]["val"]
    .col-md-4.text-center
      Shield Reduction:
      = rose["shield_reduction"]["val"]
    .col-md-4.text-center
      Damage Reduction:
      = rose["damage_reduction"]["val"]
  %br
  .row
    .col-md-4.text-center
      Reach:
      = rose["reach"]["val"]
    .col-md-4.text-center
      Damage:
      = rose["damage_mod"]["val"]
    .col-md-4.text-center
      TOP Save:
      = rose["top_save"]["val"]
  %hr
  .row
    .col-md-4.text-center
      Left Hand:
      - if rose["left_hand"].nil?
        Empty 
      - else
        = rose["left_hand"].actual_name
    .col-md-4.text-center
      Right Hand:
      - if rose["right_hand"].nil?
        Empty 
      - else
        = rose["right_hand"].actual_name
    .col-md-4.text-center
      Body:
      - if rose["body"].nil?
        Empty 
      - else
        = rose["body"].actual_name
