= simple_form_for @class_spellbook do |f|
  - if @class_spellbook.errors.any?
    #error_explanation
      %h2= "#{pluralize(@class_spellbook.errors.count, "error")} prohibited this class_spellbook from being saved:"
      %ul
        - @class_spellbook.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-4= f.association :character_class, input_html: { class: "string form-control" }
    .col-md-4= f.association :spell, input_html: { class: "string form-control" }
    .col-md-4= f.input :level, input_html: { class: "string form-control" } 
  .row
    .col-md-4
      %br
      .actions
        .btn-group
          = f.submit 'Save', class: "btn btn-primary"


