%p#notice= notice

%p
  %b Character class:
  = @class_spellbook.character_class_id
%p
  %b Spell:
  = @class_spellbook.spell_id
%p
  %b Level:
  = @class_spellbook.level

= link_to 'Edit', edit_class_spellbook_path(@class_spellbook)
\|
= link_to 'Back', class_spellbooks_path
