.row.sub-nav
  .col-md-10
    %h3 Proficiencies
  .col-md-2
    %br
    .pull-right
      - if @current_character
        = render partial: "shared/shopping_with", locals: { message: @current_character.building_points.to_s + " Building Points" }
      - else
        = render partial: "shared/shopping_with"
%table.table.table-hover.table-responsive.purchase
  %thead
    %tr
      %th Name
      %th BP Cost
      %th Description
      %th Requirements
      - if @current_character
        %th
      - if current_user.admin_level >= 1
        %th
        %th
  %tbody
    - @proficiencies.order(:name).each do |proficiency|
      %tr{ "data-show" => "prof_"+proficiency.id.to_s, class: "show-on-hover" }
        %td= proficiency.name
        %td= proficiency.bp_cost
        %td= proficiency.description
        %td= proficiency.requirements
        - if @current_character
          - if @current_character.has_prof?(proficiency)
            %td
              %span.btn.btn-success.pull-right
                &#10004;
          - else
            %td.actions= link_to raw("<span class='glyphicon glyphicon-plus'></span> " + @current_character.name), add_proficiency_character_path(@current_character, proficiency_id: proficiency.id), class: "btn btn-primary prof_#{proficiency.id.to_s} action"
        - if current_user.admin_level >= 1
          %td= link_to raw('<span class="octicon octicon-pencil"></span>'), edit_proficiency_path(proficiency)
          %td= link_to raw('<span class="octicon octicon-trashcan"></span>'), proficiency, :method => :delete, :data => { :confirm => 'Are you sure?' }
= link_to 'New Proficiency', new_proficiency_path, class: "btn btn-primary" if current_user.admin_level >= 1
