%h1 Listing Proficiencies
.row
  .col-md-12
    = link_to 'New Proficiency', new_proficiency_path, class: "btn btn-primary pull-right"
%table.table.table-hover.table-responsive
  %thead
    %tr
      %th name
      %th description
      %th requirements
      %th bp_cost
      %th
      %th
  %tbody
    - @proficiencies.each do |proficiency|
      %tr
        %td= proficiency.name
        %td= proficiency.description
        %td= proficiency.requirements
        %td= proficiency.bp_cost
        %td= link_to raw('<span class="octicon octicon-pencil"></span>'), edit_proficiency_path(proficiency)
        %td= link_to raw('<span class="octicon octicon-trashcan"></span>'), proficiency, :method => :delete, :data => { :confirm => 'Are you sure?' }
