%h3 Proficiencies
.row
  .col-md-12
    = link_to 'New Proficiency', new_proficiency_path, class: "btn btn-primary pull-right" if current_user.admin_level >= 1
%table.table.table-hover.table-responsive
  %thead
    %tr
      %th Name
      %th
      %th BP Cost
      %th
      %th Requirements
      %th
      %th
  %tbody
    - @proficiencies.each do |proficiency|
      %tr
        %td= link_to proficiency.name, proficiency
        %td
          .dropdown
            %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              Learn
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
              - current_user.characters.each do |character|
                %li= link_to character.name, add_proficiency_character_path(character, proficiency_id: proficiency.id)
        %td= proficiency.bp_cost
        %td= proficiency.description
        %td= proficiency.requirements
        %td= link_to raw('<span class="octicon octicon-pencil"></span>'), edit_proficiency_path(proficiency)
        %td= link_to raw('<span class="octicon octicon-trashcan"></span>'), proficiency, :method => :delete, :data => { :confirm => 'Are you sure?' }
