.row
  .col-md-10
    .btn-group
      = link_to 'Back', proficiencies_path, class: "btn btn-default"
      = link_to 'Edit', edit_proficiency_path(@proficiency), class: "btn btn-primary"
  .col-md-2
    .pull-right
      = render partial: "shared/shopping_with", locals: { message: @current_character.building_points.to_s + " Building Points" }
.row
  .col-md-12
    %h3= @proficiency.name
%br
- if @current_character
  .btn-group
    = link_to raw("<span class='glyphicon glyphicon-plus'></span> Learn with " + @current_character.name), add_proficiency_character_path(@current_character, proficiency_id: @proficiency.id), :class => "btn btn-primary"
  %br
  %br
.row
  .col-md-6
    %table.table.table-hover.table-responsive
      %tbody
        %tr
          %td Description
          %td= @proficiency.description
        %tr
          %td requirements
          %td= @proficiency.requirements
        %tr
          %td BP Cost
          %td= @proficiency.bp_cost
