= simple_form_for @character do |f|
  - if @character.errors.any?
    #error_explanation
      %h2= "#{pluralize(@character.errors.count, "error")} prohibited this character from being saved:"
      %ul
        - @character.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-4= f.input :strength, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :intelligence, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :wisdom, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :dexterity, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :constitution, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :looks, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :charisma, input_html: { class: "string form-control" }

  .actions
    = f.submit 'Save'
