%br
.row
  .col-md-6
    %h4 Specializations
    - @character.specialized_weapons.each do |item|
      %h5= item.name
      = render partial: "specializations", locals: { item: item, specialization: @specialization }
  .col-md-6
    .row
      .col-md-12
        %h4 Proficiencies
        - @character.proficiencies.each do |proficiency|
          %h5
            = link_to proficiency.name, proficiency
        %h5= link_to raw('<span class="glyphicon glyphicon-plus"></span> Add Proficiency'), proficiencies_path
    .row
      .col-md-12
        %h4 Talents
        - @character.characters_talents.each do |char_talent|
          %h5= link_to char_talent.name, char_talent.talent 
        %h5= link_to raw('<span class="glyphicon glyphicon-plus"></span> Add Talent'), talents_path
    .row
      .col-md-12
        %h4 Skills
        %p Coming Soon
