.row
  .col-md-3
  .col-md-6
    %br
    %form.input-group#solr-full-search
      %input.form-control.input-lg#solr-search{ "placeholder" => "Search for anything..." }
      %span.input-group-btn
        %button.btn.btn-lg.btn-default
          Search
    %br
  .col-md-3
.row.solr-results
.row
  .hidden.search-result-template.col-xs-6.col-sm-4.col-md-3.col-lg-2.tile-container
    .tile.tile-hover.click-link{ data: { click: "item_1" } }
      .row
        .col-md-12
          %h5.category1.category.text-center
      .row
        .col-md-12
          %h4
            %a#item_1{"href" => "/items/1"}
              Longsword
          %hr
      .row
        .col-md-12
          %h6.category2.category.text-center
.row
  .col-md-12
    %hr
.row
  - @characters.where(finished: true).order(:name).each do |character|
    .col-xs-6.col-sm-4.col-md-3.col-lg-2.tile-container
      .tile.tile-hover.character-tile.click-link.show-on-hover{ data: { :"show-style" => "slide", show: "character_"+character.id.to_s, click: "character_"+character.id.to_s+"_link", tile: { group: "character-tile" } } }
        %h4= link_to character.name, character_path(character), id: "character_"+character.id.to_s+"_link"
        %hr
        Level
        = character.level
        %br
        = character.race.name
        = character.character_class.name
        %hr
        = character.building_points
        Building Points
        %br
        = character.silver
        Silver
        %br
        %br
        %div.buttons
          .tile-button.pull-left{ class: "character_"+character.id.to_s }= link_to raw('<span class="octicon octicon-trashcan"></span>'), character, :method => :delete, :data => { :confirm => 'Are you sure?' }
          .tile-button.glyphicon.glyphicon-fullscreen.expander{ class: "character_"+character.id.to_s }
  .col-xs-6.col-sm-4.col-md-3.col-lg-2
    .tile.tile-hover.click-link.create-character{ data: { click: "create_character" } }
      = link_to raw('&#10010; Create Character'), step1_characters_path, class: "", id: "create_character"
- if current_user.admin_level >= 1
  .row
    .col-md-6
      %br
      %h3 All Characters 
      %h5 Admin only
    .col-md-6
      %br
      %br
      = link_to 'Add Custom Character', new_character_path, class: "btn btn-default pull-right"
  .row
    .col-md-12
      %table.table.table-hover.table-responsive
        %thead
          %tr
            %th Name
            %th Player
            %th Race
            %th Class
            %th
        %tbody
          - Character.where(finished: true).where.not(user_id: current_user.id).order(:user_id, :name).each do |character|
            %tr
              %td= link_to character.name, character_path(character)
              %td= character.user.email
              %td= character.race.name
              %td= character.character_class.name
              %td= link_to raw('<span class="octicon octicon-trashcan"></span>'), character, :method => :delete, :data => { :confirm => 'Are you sure?' }
  .row
    .col-md-12
      %h4 Unfinished Characters
      %h5 Admin only: These characters probably need deleted.
  .row
    .col-md-12
      %table.table.table-hover.table-responsive
        %thead
          %tr
            %th Name
            %th
        %tbody
          - Character.where(finished: [false, nil]).each do |character|
            %tr
              %td= link_to character.name.present? ? character.name : "no-name", character
              %td= link_to raw('<span class="octicon octicon-trashcan"></span>'), character, :method => :delete, :data => { :confirm => 'Are you sure?' }


