%h1 Listing Characters
.row
  .col-md-12
    .btn-group.pull-right
      = link_to 'Add Character', new_character_path, class: "btn btn-primary"
      = link_to 'Character Creation', step1_characters_path, class: "btn btn-primary"
%table.table.table-hover.table-responsive
  %thead
    %tr
      %th Name
      %th Player
      %th Race
      %th Class
      %th
      %th
  %tbody
    - @characters.each do |character|
      %tr
        %td= link_to character.name, character_path(character)
        %td= character.user.email
        %td= character.race.name
        %td= character.character_class.name
        %td= link_to raw('<span class="octicon octicon-pencil"></span>'), edit_character_path(character)
        %td= link_to raw('<span class="octicon octicon-trashcan"></span>'), character, :method => :delete, :data => { :confirm => 'Are you sure?' }
