%h1 Listing Characters
.row
  .col-md-12
    = link_to 'New Character', new_character_path, class: "btn btn-primary pull-right"
%table.table.table-hover.table-responsive
  %thead
    %tr
      %th Name
      %th Player
      %th Race
      %th Class
      %th
      %th
  %tbody
    - @characters.each do |character|
      %tr
        %td= link_to character.name, character_path(character)
        %td= character.user.email
        %td= character.race.name
        %td= character.character_class.name
        %td= link_to 'Edit', edit_character_path(character)
        %td= link_to 'Destroy', character, :method => :delete, :data => { :confirm => 'Are you sure?' }
