.row.sub-nav
  .col-sm-6.col-md-4.col-lg-3
    .row
      .col-md-12
        .character-name= @character.name
        .character-quick-details
          Level
          = @character.level
          = @character.race.name
          = @character.character_class.name
  .col-sm-6.col-md-4.col-lg-6
    .row
      .col-md-12.col-lg-6
        %br
        = form_tag add_silver_character_path(@character), method: "post" do
          .input-group.pull-right-md
            %span.input-group-addon
              = @character.silver
              Silver 
            %input{ name: "silver", placeholder: "Silver", class: "integer form-control", type: "number" }
            %span.input-group-btn
              %button{ type: "submit", class: "btn btn-default" }
                Add Silver
      .col-md-12.col-lg-6
        %br
        = simple_form_for @character, url: add_xp_character_path, method: :post do |f|
          - if @character.needs_to_level
            = link_to "Level Up!", level_up_edit_character_path, class: "btn btn-success"
          - else
            .input-group.pull-right-md
              %span.input-group-addon
                = @character.exp
                XP
              = f.input_field :exp, label: false, value: nil, class: "form-control", placeholder: "Gained XP"
              %span.input-group-btn
                %button{ type: "submit", class: "btn btn-default" }
                  Add XP
  .col-sm-6.col-sm-offset-6.col-md-offset-0.col-md-4.col-lg-3
    %br
    = form_tag @character.pdf_url, style: "display:inline;" do
      - @character.pdf_fields.each do |key, val|
        = hidden_field_tag key, val
      .btn-group.pull-right
        = submit_tag 'Download Character Sheet', class: "btn btn-default"
        = link_to 'Edit', edit_character_path(@character), class: "btn btn-default", data: { confirm: "This will mark this character as custom." }
.character-show-page{ data: { character_id: @character.id } }
  .row
    .col-md-12
      %br
      %ul.nav.nav-tabs.character-tabs{role: "tablist"}
        - if params[:tab] == "overview" or not params[:tab].present?
          %li.nav.active{role: "presentation"}
            %a{href: "#overview", :"aria-controls" => "overview", role: "tab", data: { toggle: "tab" }} Overview
        - else
          %li.nav{role: "presentation"}
            %a{href: "#overview", :"aria-controls" => "overview", role: "tab", data: { toggle: "tab" }} Overview
        - if params[:tab] == "equipment"
          %li.nav.active{role: "presentation"}
            %a{href: "#equipment", :"aria-controls" => "equipment", role: "tab", data: { toggle: "tab" }} Equipment
        - else
          %li.nav{role: "presentation"}
            %a{href: "#equipment", :"aria-controls" => "equipment", role: "tab", data: { toggle: "tab" }} Equipment
        - if params[:tab] == "particulars"
          %li.nav.active{role: "presentation"}
            %a{href: "#particulars", :"aria-controls" => "particulars", role: "tab", data: { toggle: "tab" }} Particulars
        - else
          %li.nav{role: "presentation"}
            %a{href: "#particulars", :"aria-controls" => "particulars", role: "tab", data: { toggle: "tab" }} Particulars
        - if params[:tab] == "combat"
          %li.nav.active{role: "presentation"}
            %a{href: "#combat", :"aria-controls" => "combat", role: "tab", data: { toggle: "tab" }} Combat
        - else
          %li.nav{role: "presentation"}
            %a{href: "#combat", :"aria-controls" => "combat", role: "tab", data: { toggle: "tab" }} Combat
        - if @character.magic_user?
          - if params[:tab] == "magic"
            %li.nav.active{role: "presentation"}
              %a{href: "#magic", :"aria-controls" => "magic", role: "tab", data: { toggle: "tab" }} Magic
          - else
            %li.nav{role: "presentation"}
              %a{href: "#magic", :"aria-controls" => "magic", role: "tab", data: { toggle: "tab" }} Magic
      .tab-content
        - if params[:tab] == "overview" or not params[:tab].present?
          .tab-pane.fade.in.active{id: "overview", role: "tabpanel"}
            = render partial: "overview_tab", locals: { character: @character }
        - else
          .tab-pane.fade{id: "overview", role: "tabpanel"}
            = render partial: "overview_tab", locals: { character: @character }
        - if params[:tab] == "equipment"
          .tab-pane.fade.in.active{id: "equipment", role: "tabpanel"}
            = render partial: "equipment_tab", locals: { character: @character }
        - else
          .tab-pane.fade{id: "equipment", role: "tabpanel"}
            = render partial: "equipment_tab", locals: { character: @character }
        - if params[:tab] == "particulars"
          .tab-pane.fade.in.active{id: "particulars", role: "tabpanel"}
            = render partial: "particulars_tab", locals: { character: @character }
        - else
          .tab-pane.fade{id: "particulars", role: "tabpanel"}
            = render partial: "particulars_tab", locals: { character: @character }
        - if params[:tab] == "combat"
          .tab-pane.fade.in.active{id: "combat", role: "tabpanel"}
            = render partial: "combat_tab", locals: { character: @character }
        - else
          .tab-pane.fade{id: "combat", role: "tabpanel"}
            = render partial: "combat_tab", locals: { character: @character }
        - if @character.magic_user?
          - if params[:tab] == "magic"
            .tab-pane.fade.in.active{id: "magic", role: "tabpanel"}
              = render partial: "magic_tab", locals: { character: @character }
          - else
            .tab-pane.fade{id: "magic", role: "tabpanel"}
              = render partial: "magic_tab", locals: { character: @character }
