%p#notice= notice
.row
  .col-md-4
    %h3= @character.name
.row
  .col-md-12
    %hr
.row
  .col-md-1 Strength:
  .col-md-3= @character.strength
  .col-md-1 Experience:
  .col-md-3= @character.exp
.row
  .col-md-1 Intelligence:
  .col-md-3= @character.intelligence
.row
  .col-md-1 Wisdom:
  .col-md-3= @character.wisdom
.row
  .col-md-1 Dexterity:
  .col-md-3= @character.dexterity
.row
  .col-md-1 Constitution:
  .col-md-3= @character.constitution
.row
  .col-md-1 Looks:
  .col-md-3= @character.looks
.row
  .col-md-1 Charisma:
  .col-md-3= @character.charisma
%br
.btn-group
  = link_to 'Back', characters_path, class: "btn btn-default"
  = link_to 'Edit', edit_character_path(@character), class: "btn btn-primary"
