.btn-group
  = link_to 'Back', characters_path, class: "btn btn-default"
  = link_to 'Edit', edit_character_path(@character), class: "btn btn-primary"
= form_tag @character.pdf_url, style: "display:inline;" do
  = submit_tag 'Download Character Sheet', class: "btn btn-default"
  - @character.pdf_fields.each do |key, val|
    = hidden_field_tag key, val
%br
%br
.container
  %ul.nav.nav-tabs.character-tabs{role: "tablist"}
    %li.nav.active{role: "presentation"}
      %a{href: "#overview", :"aria-controls" => "overview", role: "tab", data: { toggle: "tab" }} Overview
    %li.nav{role: "presentation"}
      %a{href: "#equipment", :"aria-controls" => "equipment", role: "tab", data: { toggle: "tab" }} Equipment
    %li.nav{role: "presentation"}
      %a{href: "#particulars", :"aria-controls" => "particulars", role: "tab", data: { toggle: "tab" }} Particulars
    %li.nav{role: "presentation"}
      %a{href: "#combat", :"aria-controls" => "combat", role: "tab", data: { toggle: "tab" }} Combat
  .tab-content
    .tab-pane.fade.in.active{id: "overview", role: "tabpanel"}
      = render partial: "overview_tab", locals: { character: @character }
    .tab-pane.fade{id: "equipment", role: "tabpanel"}
      = render partial: "equipment_tab", locals: { character: @character }
    .tab-pane.fade{id: "particulars", role: "tabpanel"}
      = render partial: "particulars_tab", locals: { character: @character }
    .tab-pane.fade{id: "combat", role: "tabpanel"}
      = render partial: "combat_tab", locals: { character: @character }
