%h3 Step 2
%p
  %div Roll 3d6 for each stat and a d100 for the percentile value. Record your values in order.
  %div You are allowed to leave the stats in the order you rolled them, swap two stats, or rearrange all of the stats.
  %div In the next step you will be asked what swap method you used and will be awarded either 50, 25, or 0 building points.
  %div Enter the full stat value including the percentile.
= simple_form_for @character, :url => step3_character_path(@character), :method => :post do |f|
  .row
    .col-sm-6.col-md-4
      .input-group
        .input-group-addon
          Strength
        = f.input_field :strength, class: "string form-control", min: "3.0", max: "18.0", placeholder: "3D6 + Percentile", value: "", required: true
        .input-group-btn
          %button.btn.btn-default.random{ data: { target: "character_strength", count: 0, limit: 1, format: "stat.percent", stat: "3d6", percent: "d100" } }
            &nbsp; &nbsp; &nbsp;
  .row
    %br
    .col-sm-6.col-md-4
      .input-group
        .input-group-addon
          Intelligence
        = f.input_field :intelligence, class: "string form-control", min: "3.0", max: "18.0", placeholder: "3D6 + Percentile", value: "", required: true
        .input-group-btn
          %button.btn.btn-default.random{ data: { target: "character_intelligence", count: 0, limit: 1, format: "stat.percent", stat: "3d6", percent: "d100" } }
            &nbsp; &nbsp; &nbsp;
  .row
    %br
    .col-sm-6.col-md-4
      .input-group
        .input-group-addon
          Wisdom
        = f.input_field :wisdom, class: "string form-control", min: "3.0", max: "18.0", placeholder: "3D6 + Percentile", value: "", required: true
        .input-group-btn
          %button.btn.btn-default.random{ data: { target: "character_wisdom", count: 0, limit: 1, format: "stat.percent", stat: "3d6", percent: "d100" } }
            &nbsp; &nbsp; &nbsp;
  .row
    %br
    .col-sm-6.col-md-4
      .input-group
        .input-group-addon
          Dexterity 
        = f.input_field :dexterity, class: "string form-control", min: "3.0", max: "18.0", placeholder: "3D6 + Percentile", value: "", required: true
        .input-group-btn
          %button.btn.btn-default.random{ data: { target: "character_dexterity", count: 0, limit: 1, format: "stat.percent", stat: "3d6", percent: "d100" } }
            &nbsp; &nbsp; &nbsp;
  .row
    %br
    .col-sm-6.col-md-4
      .input-group
        .input-group-addon
          Constitution 
        = f.input_field :constitution, class: "string form-control", min: "3.0", max: "18.0", placeholder: "3D6 + Percentile", value: "", required: true
        .input-group-btn
          %button.btn.btn-default.random{ data: { target: "character_constitution", count: 0, limit: 1, format: "stat.percent", stat: "3d6", percent: "d100" } }
            &nbsp; &nbsp; &nbsp;
  .row
    %br
    .col-sm-6.col-md-4
      .input-group
        .input-group-addon
          Looks 
        = f.input_field :looks, class: "string form-control", min: "3.0", max: "18.0", placeholder: "3D6 + Percentile", value: "", required: true
        .input-group-btn
          %button.btn.btn-default.random{ data: { target: "character_looks", count: 0, limit: 1, format: "stat.percent", stat: "3d6", percent: "d100" } }
            &nbsp; &nbsp; &nbsp;
  .row
    %br
    .col-sm-6.col-md-4
      .input-group
        .input-group-addon
          Charisma 
        = f.input_field :charisma, class: "string form-control", min: "3.0", max: "18.0", placeholder: "3D6 + Percentile", value: "", required: true
        .input-group-btn
          %button.btn.btn-default.random{ data: { target: "character_charisma", count: 0, limit: 1, format: "stat.percent", stat: "3d6", percent: "d100" } }
            &nbsp; &nbsp; &nbsp;
  .row
    %br
    .col-md-4
      %br
      .actions
        .btn-group
          = f.submit 'Continue', class: "btn btn-primary"
