.row.sub-nav{ style: "top: 0px; width: 100%; text-align: center" }
  .col-xs-2
  .col-xs-4
    %h4
      %span#bonus-bps
        50
      Bonus Building Points
  .col-xs-4
    %h4
      %p#bonus-bp-message
        Swapped no ability scores.
  .col-xs-2
%h3 Step 3
.swapable-form
  = simple_form_for @character, :url => step4_character_path(@character), :method => :post do |f|
    = f.input :building_points, as: :hidden, input_html: { value: 50 }
    .row
      .col-sm-6.col-md-4
        .input-group.swapable
          .input-group-addon
            Strength
          = f.input_field :strength, class: "string form-control swapable", disabled: true
    .row
      %br
      .col-sm-6.col-md-4
        .input-group.swapable
          .input-group-addon
            Intelligence
          = f.input_field :intelligence, class: "string form-control swapable", disabled: true
    .row
      %br
      .col-sm-6.col-md-4
        .input-group.swapable
          .input-group-addon
            Wisdom
          = f.input_field :wisdom, class: "string form-control swapable", disabled: true
    .row
      %br
      .col-sm-6.col-md-4
        .input-group.swapable
          .input-group-addon
            Dexterity
          = f.input_field :dexterity, class: "string form-control swapable", disabled: true
    .row
      %br
      .col-sm-6.col-md-4
        .input-group.swapable
          .input-group-addon
            Constitution
          = f.input_field :constitution, class: "string form-control swapable", disabled: true
    .row
      %br
      .col-sm-6.col-md-4
        .input-group.swapable
          .input-group-addon
            Looks
          = f.input_field :looks, class: "string form-control swapable", disabled: true
    .row
      %br
      .col-sm-6.col-md-4
        .input-group.swapable
          .input-group-addon
            Charisma
          = f.input_field :charisma, class: "string form-control swapable", disabled: true
    .row
      %br
      .col-md-4= f.submit 'Continue', class: "btn btn-primary"
