%h3 Step 10
= simple_form_for @character, :url => step11_character_path(@character), :method => :post do |f|
  .row
    .col-md-4= f.input :health, input_html: { class: "string form-control", value: (@character.character_class.hit_dice_size + @character.constitution + @character.race.hit_points).to_i, min: 6, placeholder: "Class Hit Dice + Constitution + Race Hit Points" }
    .col-md-4.label-height
      = "+ D" + @character.character_class.hit_dice_size.to_i.to_s + " from character class"
      %br
      = "+ " + @character.constitution.to_i.to_s + " from constitution" 
      %br
      = "+ " + @character.race.hit_points.to_i.to_s + " from race"
  .row
    %br
    .col-md-4= f.submit 'Continue', class: "btn btn-primary"
