%h3 Step 3
= simple_form_for @character, :url => step4_character_path(@character), :method => :post do |f|
  = f.input :building_points, as: :hidden
  .row
    - extra_bp_options.each do |option|
      .col-xs-6.col-sm-4.col-md-3.col-lg-2
        .tile.tile-hover.selectable.bp-option{ data: { value: option[1], selectable: { group: "bp-option" } } }
          = option[0]
          %hr
          = "+ " + option[1] + " Building Points"
  .row
    %br
    .col-md-4= f.submit 'Continue', class: "btn btn-primary"
