%h1 Step 2
= simple_form_for @character, :url => step3_character_path(@character), :method => :post do |f|
  .row
    .col-md-4= f.input :strength, input_html: { class: "string form-control" }
    .col-md-4= f.input :intelligence, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :wisdom, input_html: { class: "string form-control" }
    .col-md-4= f.input :dexterity, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :constitution, input_html: { class: "string form-control" }
    .col-md-4= f.input :looks, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :charisma, input_html: { class: "string form-control" }
  .row
    %br
    .col-md-4= f.submit 'Step 3', class: "btn btn-primary"
