%h3 Step 2
%p
  %div Roll 3d6 for each stat and a d100 for the percentile value. Record your values in order.
  %div You are allowed to leave the stats in the order you rolled them, swap two stats, or rearrange all of the stats.
  %div In the next step you will be asked what swap method you used and will be awarded either 50, 25, or 0 building points.
  %div Enter the full stat value including the percentile.
= simple_form_for @character, :url => step3_character_path(@character), :method => :post do |f|
  .row
    .col-md-2= f.input :strength, input_html: { class: "string form-control" }
  .row
    .col-md-2= f.input :intelligence, input_html: { class: "string form-control" }
  .row
    .col-md-2= f.input :wisdom, input_html: { class: "string form-control" }
  .row
    .col-md-2= f.input :dexterity, input_html: { class: "string form-control" }
  .row
    .col-md-2= f.input :constitution, input_html: { class: "string form-control" }
  .row
    .col-md-2= f.input :looks, input_html: { class: "string form-control" }
  .row
    .col-md-2= f.input :charisma, input_html: { class: "string form-control" }
  .row
    %br
    .col-md-4
      %br
      .actions
        .btn-group
          = f.submit 'Continue', class: "btn btn-primary"
