%h3 Step 9
= simple_form_for @character, :url => step10_character_path(@character), :method => :post do |f|
  %p You will be able to purchase more skils, talents and proficiencies after you are done with character creation.
  .row
    .col-md-4
      .row
        .col-md-12
          %h4
            = @character.race.name
            Proficiencies:
          - if @character.race.proficiencies.count > 0
            - @character.race.proficiencies.each do |prof|
              %h5= prof.name
          - else
            %h5 None
      .row
        .col-md-12
          %br
          %h4
            = @character.race.name
            Talents:
          - if @character.race.talents.count > 0
            - @character.race.talents.each do |talent|
              %h5= talent.name
          - else
            %h5 None
      .row
        .col-md-12
          %br
          %h4
            = @character.race.name
            Skills:
      - if @character.race.races_skills.count > 0
        - @character.race.races_skills.each do |races_skill|
          .row
            .col-md-12
              %br
              .input-group
                %span.input-group-addon
                  = races_skill.skill.name
                = number_field_tag "skills[#{races_skill.skill.id}]", nil, class: "string form-control", placeholder: "#{races_skill.count} D12 Die Rolls", required: true, min: 1, max: 12
                .input-group-btn
                  %button.btn.btn-default.random{ data: { target: "skills_#{races_skill.skill.id}", count: 0, limit: 1, roll: "d12" } }
                    &nbsp; &nbsp; &nbsp;
      - else
        %h5 None
    .col-md-4
      .row
        .col-md-12
          %h4
            = @character.character_class.name
            Proficiencies:
          - if @character.character_class.proficiencies.count > 0
            - @character.character_class.proficiencies.each do |prof|
              %h5= prof.name
          - else
            %h5 None
  .row
    %br
    %br
    .col-md-4= f.submit 'Continue', class: "btn btn-primary"


