.row.sub-nav{ style: "top: 0px; width: 100%; text-align: center" }
  .col-xs-4
    %h4#race-name
  .col-xs-4
    %h4#class-name
  .col-xs-4
    %h4#alignment-name
%h3 Step 4
= simple_form_for @character, :url => step5_character_path(@character), :method => :post do |f|
  = f.input :race_id, as: :hidden
  = f.input :character_class_id, as: :hidden
  = f.input :alignment, as: :hidden
  .row
    .col-md-12
      %h3 Choose a Race
  .row
    - Race.all.each do |race|
      .col-xs-6.col-sm-4.col-md-3.col-lg-2
        .tile.tile-hover.selectable.race-option{ data: { race: race.id, text: race.name, selectable: { group: "race-option" } } }
          %h5= race.name
          %hr
          - if race.str_mod != 0
            = plus_or_minus(race.str_mod) + " Strength"
          - if race.int_mod != 0
            %br
            = plus_or_minus(race.int_mod) + " Intelligence"
          - if race.wis_mod != 0
            %br
            = plus_or_minus(race.wis_mod) + " Wisdom"
          - if race.dex_mod != 0
            %br
            = plus_or_minus(race.dex_mod) + " Dexterity"
          - if race.con_mod != 0
            %br
            = plus_or_minus(race.con_mod) + " Constitution"
          - if race.lks_mod != 0
            %br
            = plus_or_minus(race.lks_mod) + " Looks"
          - if race.cha_mod != 0
            %br
            = plus_or_minus(race.cha_mod) + " Charisma"
  .row
    .col-md-12
      %h3 Choose a Class
  .row
    - CharacterClass.all.order(:name).each do |character_class|
      .col-xs-6.col-sm-4.col-md-3.col-lg-2
        .tile.short-tile.tile-hover.selectable.class-option{ data: { class: character_class.id, text: character_class.name, selectable: { group: "class-option" } } }
          %h5= character_class.name
          %hr
  .row
    .col-md-12
      %h3 Choose an Alignment
  .row
    - alignment_options.each do |option|
      .col-xs-6.col-sm-4.col-md-3.col-lg-2
        .tile.short-tile.tile-hover.selectable.alignment-option{ data: { alignment: option[1], text: option[0], selectable: { group: "alignment-option" } } }
          %h5= option[0]
          %hr
  .row
    %br
    .col-md-4= f.submit 'Continue', class: "btn btn-primary"
