= simple_form_for @character_class do |f|
  - if @character_class.errors.any?
    #error_explanation
      %h2= "#{pluralize(@character_class.errors.count, "error")} prohibited this character_class from being saved:"
      %ul
        - @character_class.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-4= f.input :name, input_html: { class: "string form-control" }
    .col-md-4= f.input :hit_dice_size, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :description, input_html: { class: "string form-control" }
  .row
    .col-md-4
      %br
      .actions
        .btn-group
          = f.submit 'Save', class: "btn btn-primary"

