%h1 Listing Character Classes

%table
  %tr
    %th Name
    %th Description

  - @character_classes.each do |character_class|
    %tr
      %td= link_to character_class.name
      %td= character_class.description
      %td= link_to 'Show', character_class
      %td= link_to 'Edit', edit_character_class_path(character_class)
      %td= link_to 'Destroy', character_class, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Character class', new_character_class_path
