.row
  .col-md-6
    %h3 Classes
  .col-md-6
    %br
    = link_to 'New Character class', new_character_class_path, class: "btn btn-primary pull-right" if current_user.admin_level >= 1
%table.table.table-hover.table-responsive
  %thead
    %tr
      %th Name
      %th Description
      %th Specialization Costs:
      %th Attack
      %th Speed
      %th Defense
      %th Damage
      - if current_user.admin_level >= 1
        %th
        %th
  %tbody
    - @character_classes.order(:name).each do |character_class|
      %tr
        %td= link_to character_class.name, character_class
        %td= character_class.description
        %td
        %td= character_class.attack_specialization_cost
        %td= character_class.speed_specialization_cost
        %td= character_class.defense_specialization_cost
        %td= character_class.damage_specialization_cost
        - if current_user.admin_level >= 1
          %td= link_to raw('<span class="octicon octicon-pencil"></span>'), edit_character_class_path(character_class)
          %td= link_to raw('<span class="octicon octicon-trashcan"></span>'), character_class, :method => :delete, :data => { :confirm => 'Are you sure?' }
