.btn-group
  = link_to 'Back', character_classes_path, class: "btn btn-default"
  = link_to 'Edit', edit_character_class_path(@character_class), class: "btn btn-primary"
%br
%br
.row
  .col-md-12
    %h3= @character_class.name
.row
  .col-md-12
    %p= @character_class.description
.row
  .col-md-12
    %h5 Specialization Costs
.row
  .col-md-3
    %table.table.table-hover.table-responsive
      %tbody
        %tr
          %td Starting Skills
          %td
            - @character_class.character_classes_skills.each do |character_classes_skill|
              = link_to character_classes_skill.skill.name + " (#{character_classes_skill.count} purchases)", character_classes_skill.skill
              %br
        %tr
          %td Starting Talents
          %td
            - @character_class.talents.each do |talent|
              = link_to talent.name, talent
              %br
        %tr
          %td Proficiencies
          %td
            - @character_class.proficiencies.each do |prof|
              = link_to prof.name, prof
        %tr
          %td Attack 
          %td= @character_class.attack_specialization_cost
        %tr
          %td Speed
          %td= @character_class.speed_specialization_cost
        %tr
          %td Defense
          %td= @character_class.defense_specialization_cost
        %tr
          %td Damage
          %td= @character_class.damage_specialization_cost
