.row.sub-nav
  .col-md-10
    %h3 Spells
  .col-md-2
    %br
    .pull-right
      - if @current_character
        = render partial: "shared/shopping_with", locals: { message: "TODO Show Spell Purchases Available" }
      - else
        = render partial: "shared/shopping_with"
%table.table.table-hover.table-responsive.purchase
  %thead
    %tr
      %th name
      %th description
      %th spellpoints
      %th spell type
      - if @current_character
        %th
      - if current_user.admin_level >= 1
        %th
        %th
  %tbody
    - @spells.each do |spell|
      %tr{ "data-show" => "spell_"+spell.id.to_s, class: "show-on-hover" }
        %td= link_to spell.name, spell
        %td= spell.description
        %td= spell.spellpoints
        %td= spell.spell_type
        - if @current_character
          - if @current_character.has_spell?(spell)
            %td
              %span.btn.btn-success.pull-right
                &#10004;
          - else
            %td.actions= link_to raw("<span class='glyphicon glyphicon-plus'></span>"), add_spell_character_path(@current_character, spell_id: spell.id), class: "btn btn-primary spell_#{spell.id.to_s} pull-right"
        - if current_user.admin_level >= 1
          %td= link_to raw('<span class="octicon octicon-pencil"></span>'), edit_spell_path(spell)
          %td= link_to raw('<span class="octicon octicon-trashcan"></span>'), spell, :method => :delete, :data => { :confirm => 'Are you sure?' }
