.row.sub-nav
  %br
  .col-md-10
    .btn-group
      = link_to 'Back', spells_path, class: "btn btn-default"
      = link_to 'Edit', edit_spell_path(@spell), class: "btn btn-primary"
  .col-md-2
    .pull-right
      - if @current_character
        = render partial: "shared/shopping_with", locals: { message: @current_character.building_points.to_s + " Building Points" }
      - else
        = render partial: "shared/shopping_with"
.row
  .col-md-12
    %h3= @spell.name
.row
  .col-md-3
    %br
    - if @current_character
      - if @current_character.has_spell?(@spell)
        %td
          %span.btn.btn-success
            &#10004;
            You Have
            = @spell.name
      - else
        .btn-group
          = link_to raw("<span class='glyphicon glyphicon-plus'></span> Learn with " + @current_character.name), add_spell_character_path(@current_character, spell_id: @spell.id), :class => "btn btn-primary"
%br
%br
%table.table.table-hover.table-responsive
  %tbody
    %tr
      %td Name
      %td= @spell.name
    %tr
      %td Description
      %td= @spell.description
    %tr
      %td Spell Points
      %td= @spell.spellpoints
    %tr
      %td Spell Type
      %td= @spell.spell_type
    %tr
      %td Verbal 
      %td= @spell.verbal
    %tr
      %td Somatic
      %td= @spell.somatic
    %tr
      %td Material
      %td= @spell.material_component
    %tr
      %td Casting  Time
      %td= @spell.casting_time
    %tr
      %td Duration
      %td= @spell.duration
    %tr
      %td Duration Increase
      %td= @spell.duration_increase
    %tr
      %td Duration Increase Cost
      %td= @spell.duration_increase_cost
    %tr
      %td Area of Effect Type
      %td= @spell.volume_of_effect_type
    %tr
      %td How much
      %td= @spell.volume_of_effect
    %tr
      %td Area Boost 
      %td= @spell.volume_increase
    %tr
      %td Area Boost Cost
      %td= @spell.volume_increase_cost
    %tr
      %td Range
      %td= @spell.range
    %tr
      %td Range Boost
      %td= @spell.range_increase
    %tr
      %td Range Boost Cost
      %td= @spell.range_increase_cost
    %tr
      %td Target Damage
      %td= @spell.target_damage
    %tr
      %td Target Damage Boost
      %td= @spell.target_damage_increase
    %tr
      %td Target Damage Boost Cost
      %td= @spell.target_damage_increase_cost
    %tr
      %td Area Damage
      %td= @spell.area_damage
    %tr
      %td Area Damage Boost
      %td= @spell.area_damage_increase
    %tr
      %td Area Damage Boost Cost
      %td= @spell.area_damage_increase_cost
    %tr
      %td Special Boost
      %td= @spell.special_increase1
    %tr
      %td Special Boost Cost
      %td= @spell.special_increase1_cost
    %tr
      %td Special Boost
      %td= @spell.special_increase2
    %tr
      %td Special Boost Cost
      %td= @spell.special_increase2_cost
    %tr
      %td Saving Throw
      %td= @spell.saving_throw
    %tr
      %td Saving Throw Success Effect
      %td= @spell.saving_throw_result
    %tr
      %td Damage Type
      %td= @spell.damage_type
    %tr
      %td Spell Bounces
      %td= @spell.bounce_damage
