= simple_form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-4= f.input :name, input_html: { class: "string form-control" }
    .col-md-4= f.input :item_type, collection: item_types, input_html: { class: "string form-control" }
    .col-md-4= f.input :location, collection: locations, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :armor_type, collection: armor_types, input_html: { class: "string form-control" }
    .col-md-4= f.input :shield_size, collection: shield_sizes, input_html: { class: "string form-control" }
    .col-md-4= f.input :damage_type, collection: damage_types, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :attack_mod, input_html: { class: "string form-control" }
    .col-md-4= f.input :speed_mod, input_html: { class: "string form-control" }
    .col-md-4= f.input :init_mod, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :defense_mod, input_html: { class: "string form-control" }
    .col-md-4= f.input :damage_mod, input_html: { class: "string form-control" }
    .col-md-4= f.input :damage_reduction, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :magic_level, input_html: { class: "string form-control" }
    .col-md-4= f.input :damage, input_html: { class: "string form-control" }
    .col-md-4= f.input :attack_speed, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :jab_speed, input_html: { class: "string form-control" }
    .col-md-4= f.input :reach, input_html: { class: "string form-control" }
    .col-md-4= f.input :buy_cost, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :sell_value, input_html: { class: "string form-control" }
    .col-md-4= f.input :heal_value, input_html: { class: "string form-control" }
    .col-md-4= f.input :weight, input_html: { class: "string form-control" }
  .row
    .col-md-4
      %br
      .actions
        .btn-group
          = f.submit 'Save', class: "btn btn-primary"
