= simple_form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-4= f.input :item_type, collection: item_types, input_html: { class: "string form-control" }
    .col-md-4= f.input :name, input_html: { class: "string form-control" }
    .col-md-4= f.input :location, collection: locations, input_html: { class: "string form-control" }
    .col-md-4= f.input :magic_level, input_html: { class: "string form-control" }
  .row
    .col-md-4= f.input :buy_cost, input_html: { class: "string form-control" }
    .col-md-4= f.input :sell_value, input_html: { class: "string form-control" }
    .col-md-4= f.input :weight, input_html: { class: "string form-control" }
    .col-md-4= f.input :high_avail, input_html: { class: "string form-control" }
    .col-md-4= f.input :med_avail, input_html: { class: "string form-control" }
    .col-md-4= f.input :low_avail, input_html: { class: "string form-control" }
  .row
    .col-md-4

  .row.armor-section{ style: "display: none"}
    .col-md-4= f.input :armor_type, collection: armor_types, input_html: { class: "string form-control" }
    .col-md-4= f.input :damage_reduction, input_html: { class: "string form-control" }
    .col-md-4= f.input :defense_mod, input_html: { class: "string form-control" }
    .col-md-4= f.input :init_mod, input_html: { class: "string form-control" }
    .col-md-4= f.input :init_die_mod, input_html: { class: "string form-control" }
    .col-md-4= f.input :speed_mod, input_html: { class: "string form-control" }
    .col-md-4= f.input :movement_rate_reduction, input_html: { class: "string form-control" }


  .row.shield-section{ style: "display: none"}
    .col-md-4= f.input :shield_size, collection: shield_sizes, input_html: { class: "string form-control" }
    .col-md-4= f.input :damage_reduction, input_html: { class: "string form-control" }
    .col-md-4= f.input :defense_mod, input_html: { class: "string form-control" }
    .col-md-4= f.input :crouching_cover_value, input_html: { class: "string form-control" }
    .col-md-4= f.input :init_die_mod, input_html: { class: "string form-control" }

  .row.weapon-section{ style: "display: none"}
    .col-md-4= f.input :str_required, input_html: { class: "string form-control" }
    .col-md-4= f.input :skill_level, collection: skill_types, input_html: { class: "string form-control" }
    .col-md-4= f.input :damage, input_html: { class: "string form-control" }
    .col-md-4= f.input :shield_damage, input_html: { class: "string form-control" }
    .col-md-4= f.input :attack_speed, input_html: { class: "string form-control" }
    .col-md-4= f.input :size, collection: size_types, input_html: { class: "string form-control" }
    .col-md-4= f.input :reach, input_html: { class: "string form-control" }
    .col-md-4= f.input :damage_type, collection: damage_types, input_html: { class: "string form-control" }

  .row.melee-section{ style: "display: none"}
    .col-md-4= f.input :str_required, input_html: { class: "string form-control" }
    .col-md-4= f.input :skill_level, collection: skill_types, input_html: { class: "string form-control" }
    .col-md-4= f.input :damage, input_html: { class: "string form-control" }
    .col-md-4= f.input :shield_damage, input_html: { class: "string form-control" }
    .col-md-4= f.input :attack_speed, input_html: { class: "string form-control" }
    .col-md-4= f.input :size, collection: size_types, input_html: { class: "string form-control" }
    .col-md-4= f.input :reach, input_html: { class: "string form-control" }
    .col-md-4= f.input :damage_type, collection: damage_types, input_html: { class: "string form-control" }

  .row.ranged-section{ style: "display: none"}
    .col-md-4= f.input :str_required, input_html: { class: "string form-control" }
    .col-md-4= f.input :skill_level, collection: skill_types, input_html: { class: "string form-control" }
    .col-md-4= f.input :damage, input_html: { class: "string form-control" }
    .col-md-4= f.input :shield_damage, input_html: { class: "string form-control" }
    .col-md-4= f.input :attack_speed, input_html: { class: "string form-control" }
    .col-md-4= f.input :damage_type, collection: damage_types, input_html: { class: "string form-control" }

    .col-md-4= f.input :size, collection: size_types, input_html: { class: "string form-control" }
    .col-md-4= f.input :range_short, input_html: { class: "string form-control" }
    .col-md-4= f.input :range_medium, input_html: { class: "string form-control" }
    .col-md-4= f.input :range_long, input_html: { class: "string form-control" }
    .col-md-4= f.input :range_extreme, input_html: { class: "string form-control" }
    .col-md-4= f.input :range_maximum, input_html: { class: "string form-control" }

  .row.polearm-section{ style: "display: none"}
    .col-md-4= f.input :str_required, input_html: { class: "string form-control" }
    .col-md-4= f.input :skill_level, collection: skill_types, input_html: { class: "string form-control" }
    .col-md-4= f.input :size, collection: size_types, input_html: { class: "string form-control" }
    .col-md-4= f.input :reach, input_html: { class: "string form-control" }
    .col-md-4= f.input :attack_speed, input_html: { class: "string form-control" }
    .col-md-4= f.input :damage, input_html: { class: "string form-control" }
    .col-md-4= f.input :shield_damage, input_html: { class: "string form-control" }
    .col-md-4= f.input :dismount, input_html: { class: "string form-control" }
    .col-md-4= f.input :hvy_armor, input_html: { class: "string form-control" }
    .col-md-4= f.input :set_for_charge, input_html: { class: "string form-control" }
    .col-md-4= f.input :jab_speed, input_html: { class: "string form-control" }
    .col-md-4= f.input :pole_arm_defense, input_html: { class: "string form-control" }
    .col-md-4= f.input :damage_type, collection: damage_types, input_html: { class: "string form-control" }
    .col-md-4= f.input :phalanx, input_html: { class: "string form-control" }

  .row.consumable-section{ style: "display: none"}
    .col-md-4= f.input :heal_value, input_html: { class: "string form-control" }
  .row.wearable-section{ style: "display: none"}
  .row.precious-section{ style: "display: none"}
  .row
    .col-md-4
      %br
      .actions
        .btn-group
          = f.submit 'Save', class: "btn btn-primary"
