%table.table.table-hover.table-responsive
  %thead
    %tr
      %td Name
      %td Item Type
      %td Location
      %td Armor Type
      %td Shield Size
      %td Buy Cost
      %td Sell Value
      %td Weight 
      %th
      %th
      %th
  %tbody
    - @items.each do |item|
      %tr
        %td= link_to item.name, item
        - if item.magic_level != nil && item.magic_level > 0
          %td= "Magic " + item.item_type
        - else
          %td= item.item_type
        %td= item.location
        %td= item.armor_type
        %td= item.shield_size
        %td= item.buy_cost
        %td= item.sell_value
        %td= item.weight
        %td= link_to 'Show', item
        %td= link_to 'Edit', edit_item_path(item)
        %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }
