%table.table.table-hover.table-responsive
  %thead
    %tr
      %td Name
      %td Item Type
      %td Location
      %td Armor Type
      %td Shield Size
      %td Damage Type
      %td Damage Mod
      %td Damage Reduction
      %td Damage
      %td Attack Speed
      %td Jab Speed
      %td Reach
      %td Weight 
      %th
      %th
      %th
  %tbody
    - @items.each do |item|
      %tr
        %td= link_to item.name, item
        - if item.magic_level.nil? && item.magic_level > 0
          %td= "Magic " + item.item_type
        - else
          %td= item.item_type
        %td= item.location
        %td= item.armor_type
        %td= item.shield_size
        %td= item.damage_type
        %td= item.damage_mod
        %td= item.damage_reduction
        %td= item.damage
        %td= item.attack_speed
        %td= item.jab_speed
        %td= item.reach
        %td= item.weight
        %td= link_to 'Show', item
        %td= link_to 'Edit', edit_item_path(item)
        %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }
