= simple_form_for character, url: add_items_character_path(id: character, page: "item_index", page_location: "collapse_"+item_group+"_"+index.to_s+"_travel"), method: :post do |f|
  .hidden
    = f.input :item_to_take, input_html: { value: item.name }
    = f.input :character_id, input_html: { value: character.id }
  .btn-group
    - if view_details
      = link_to "View Details", item, class: "btn btn-default"
    - if take_item
      = f.submit "Take Item", class: "btn btn-default"
    - if buy_item
      = f.submit "Buy Item", class: "btn btn-default"
