.row
  .col-md-12
    %h1 Listing items
.row
  = form_tag items_path, :method => 'get' do
    .col-md-3
      = select_tag :view, options_for_select(item_views, params[:view]), class: "string form-control search-box-align form-border"
    .col-md-3
      = submit_tag "Search", :name => nil, class: "btn btn-default search-button-align search-btn"
      = link_to "Reset", items_path, class: "btn btn-default"
  .col-md-12
    = link_to 'New Item', new_item_path, class: "btn btn-primary pull-right"
%br
- if params[:view].nil? or params[:view] == "" or params[:view] == "normal"
  = render partial: "normal_view"
- if params[:view] == "magic"
  = render partial: "magic_view"
- if params[:view] == "market"
  = render partial: "market_view"

