.row
  .col-md-12
    %h1 Listing Items
.row
  = form_tag items_path, :method => 'get' do
    .col-md-3
      = select_tag :view, options_for_select(item_views, params[:view]), class: "string form-control search-box-align form-border"
    .col-md-3
      = submit_tag "Search", :name => nil, class: "btn btn-default search-button-align search-btn"
      = link_to "Reset", items_path, class: "btn btn-default"
  .col-md-12
    = link_to 'New Item', new_item_path, class: "btn btn-primary pull-right"
%br
- item_groups(params[:view]).each do |item_group|
  %h3= item_group.titleize
  .accordion{ "id"=>"accordion"+item_group }
    %table.table.table-hover.table-responsive
      %thead
        %tr
          %th Name
          - item_stats(params[:view]).each do |header, stat_method|
            %th= header
          %th
          %th
      %tbody
        - @items.where(item_type: item_group).order(:name).each_with_index do |item, index|
          %tr{ "id"=>"collapse_"+item_group+"_"+index.to_s+"_travel" }
            %td
              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{ "data-toggle"=>"collapse", "data-parent"=>"#accordion"+item_group, "href"=>"#collapse_"+item_group+"_"+index.to_s }
                    = item.name
                .accordion-body.collapse{ "id"=>"collapse_"+item_group+"_"+index.to_s }
                  .accordion-inner
                    = simple_form_for current_user.characters.first, url: add_items_character_path(id: current_user.characters.first.id, page: "item_index", page_location: "collapse_"+item_group+"_"+index.to_s+"_travel"), method: :post do |f|
                      .hidden
                        = f.input :item_to_take, input_html: { value: item.name }
                      = collection_select(:character, "id_"+item_group+"_"+index.to_s, current_user.characters, :id, :name, {:prompt => nil}, { class: "string form-control character_select_for_item_purchase" } )
                      .btn-group
                        = link_to "View Details", item, class: "btn btn-default"
                        = f.submit "Take Item", class: "btn btn-default"
                        = f.submit "Buy Item", class: "btn btn-default"
            - item_stats(params[:view]).each do |header, stat_method|
              %td= item.send(stat_method)
            %td= link_to raw('<span class="octicon octicon-pencil"></span>'), edit_item_path(item)
            %td= link_to raw('<span class="octicon octicon-trashcan"></span>'), item, :method => :delete, :data => { :confirm => 'Are you sure?' }
