.row
  .col-md-12
    %h1 Listing Items
.row
  = form_tag items_path, :method => 'get' do
    .col-md-3
      = select_tag :view, options_for_select(item_views, params[:view]), class: "string form-control search-box-align form-border"
    .col-md-3
      = submit_tag "Search", :name => nil, class: "btn btn-default search-button-align search-btn"
      = link_to "Reset", items_path, class: "btn btn-default"
  .col-md-12
    = link_to 'New Item', new_item_path, class: "btn btn-primary pull-right"
%br

- @item_t.each do |itemt|
  %h3= itemt
  %table.table.table-hover.table-responsive
    %thead
      %tr
        %td Name
        %td Cost
        %td Weight
        %td High Availability 
        %td Medium Availability 
        %td Low Availability 
        %th
        %th
        %th
    %tbody
      - @items.where(item_type: itemt).each do |item|
        %tr
          %td= link_to item.name, item
          %td= item.buy_cost
          %td= item.weight
          %td= item.high_avail
          %td= item.med_avail
          %td= item.low_avail
          %td= link_to 'Show', item
          %td= link_to 'Edit', edit_item_path(item)
          %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

