%h1 Listing Levels
.row
  .col-md-12
    = link_to 'New Level', new_level_path, class: "btn btn-primary pull-right"
  %table.table.table-hover.table-responsive
    %thead
      %tr
        %th Name
        %th Level
        %th Init Mod
        %th Attack Mod
        %th Speed Mod
        %th Spell Points
        %td
        %td
        %td
    %tbody
      - @levels.order(:character_class_id, :level_value).each do |level|
        %tr
          %td= level.character_class.name
          %td= level.level_value
          %td= level.init_mod
          %td= level.attack_mod
          %td= level.speed_mod
          %td= level.spell_points
          %td= link_to 'Show', level
          %td= link_to 'Edit', edit_level_path(level)
          %td= link_to 'Destroy', level, :method => :delete, :data => { :confirm => 'Are you sure?' }
